# API Configuration
ALLOWED_ORIGINS=https://memescannerpro.com,https://www.memescannerpro.com,https://vocal-platypus-2b186a.netlify.app
ENVIRONMENT=production
SECRET_KEY=your-secret-key-here
API_KEY=ms-prod-2024-secure-key

# Blockchain Configuration
POLYGON_RPC=https://polygon-rpc.com
CONTRACT_ADDRESS=TU CONTRACT ADDRESS
OWNER_PRIVATE_KEY=TU_PRIVATE_KEY_SIN_0x

# Payment Tokens
USDC_POLYGON=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
USDT_POLYGON=0xc2132D05D31c914a87C6611C10748AEb04B58e8F
DAI_POLYGON=0x8f3Cf7ad23Cd3CaDbD9735AFf958023239c6A063